.img-thumbnail{
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body{
    padding: 0 25px;
}
.card-footer{
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
}

.member-tabset {
    margin-top: 20px;
  }
  
  .member-tabset .tabset {
    display: flex;
    border-bottom: 2px solid #ddd;
  }
  
  .member-tabset .tab {
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-bottom: none;
    background-color: #f5f5f5;
    margin-right: 5px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
  }
  
  .member-tabset .tab:hover {
    background-color: #e0e0e0;
  }
  
  .member-tabset .tab.active {
    background-color: #fff;
    border-bottom: 2px solid #fff;
    color: #007bff;
  }
  
  .member-tabset .tab-content {
    border: 1px solid #ddd;
    border-radius: 0 5px 5px 5px;
    padding: 20px;
    background-color: #fff;
  }
  
  .member-tabset tab h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
  }
  
  .member-tabset tab p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  